<div class="container mt-5">
  <h2>Lista de Tareas:</h2>  
    <div class="form-group mb-3">
      <input type="text" class="form-control" placeholder="Agregar tarea...">
      <button type="button" class="btn btn-primary my-3">Agregar</button>
    </div>
  
    <div class="card p-5">
      <ul class="list-group list-group-flush mt-3">
        <li class="list-group-item my-2">
          <input type="checkbox">
          <span> Tarea 1 </span>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </li>
        <li class="list-group-item my-2">
          <input type="checkbox">
          <span> Tarea 2 </span>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </li>
        <li class="list-group-item my-2">
          <input type="checkbox">
          <span> Tarea 3 </span>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </li>
        <li class="list-group-item my-2">
          <input type="checkbox">
          <span> Tarea 4 </span>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </li>
        <li class="list-group-item my-2">
          <input type="checkbox">
          <span> Tarea 5 </span>
          <button type="button" class="btn-close" aria-label="Close"></button>
        </li>
      </ul>
    </div>
  </div>
  